---
layout: default
title: Automation
---

{% include header.html type="automation-list" %}

<script>
function searchOccupations() {

  // Declare variables
  var input, filter, ul, li, a, i;
  input = document.getElementById('search-input');
  filter = input.value.toUpperCase();
  ul = document.getElementById("occupations-list");
  li = ul.getElementsByTagName('li');

  // Loop through all list items after the header list item, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("a")[0];
    if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}
</script>

{% assign automation = site.automation | where_exp:'item', 'item.probability.oxford > 0' | sort:'probability.oxford' | reverse %}
<div class="automation-list">
  <article class="automation-preview">
  <div class="panel panel-default">
    <div class="panel-heading">
      <input type="text" class="form-control" id="search-input" onkeyup="searchOccupations()" placeholder="Search occupations">
    </div>
    <div class="panel-body">
      <strong>
        <span class="pull-right">
          Probability
        </span>
        Occupation
      </strong>
    </div>
    <ul id="occupations-list" class="list-group">
      {% for item in automation %}
        {% assign probability = item.probability.oxford | times: 100 %}
        <li class="list-group-item">
          <span class="badge badge-{% if probability < 11 %}success{% elsif probability < 76 %}warning{% else %}danger{% endif %}">
            {{ probability }}%
          </span>
          <a href="{{ item.url | prepend: site.baseurl }}">
            {{ item.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
  </article>
</div>
