---
layout: default
title: Trends
---

{% include header.html type="trends" %}
<div class="trends">
  <article class="trends-list">
    {% assign trends = site.notes | where:'categories', 'trends' %}
    {% for trend in trends %}
      <blockquote>
        <p>{{ trend.quote }}</p>
        {% if trend.comment %}
          <small>{{ trend.comment }}</small>
        {% endif %}
        <small>
          {% assign source = site.sources | where:'link', trend.link %}
          <a target="_blank" href="{{ source[0].link }}">{{ source[0].title }}</a>
        </small>
      </blockquote>
    {% endfor %}
  </article>
</div>
