---
layout: default
---

<h5>&laquo; <a href="/automation">Automation Job Tracker</a></h5>

<article class="post">
  <h1>{{ page.title }}</h1>

  <div style="background: #fefefe; border: solid 1px #eeeeee; padding: 10px;">
    Oxford probability of automation<sup><a target="_blank" href="http://www.oxfordmartin.ox.ac.uk/downloads/academic/The_Future_of_Employment.pdf">?</a></sup>: {{ page.probability | times: 100 }}%
  </div>

  <div class="entry">
    {{ content }}
  </div>

  {% include disqus.html %}
</article>
