---
layout: default
---

<article class="automation">
  <h1>{{ page.title }}</h1>

  <div class="attributes">
    <ul>
      <li>{{ page.probability.oxford | times: 100 }}% chance of automation<sup><a target="_blank" href="http://www.oxfordmartin.ox.ac.uk/downloads/academic/The_Future_of_Employment.pdf">?</a></sup></li>
      <li>{{ page.employment.us }} people employed in the US</li>
      {% if page.wage.annual.us %}<li>${{ page.wage.annual.us | money }} median annual wage</li>{% endif %}
      {% if page.wage.hourly.us %}<li>${{ page.wage.hourly.us | money }} median hourly wage</li>{% endif %}
      <li>What they do: {{ page.soc.definition }}</li>
    </ul>
  </div>

  <div class="entry">
    {{ content }}
  </div>

  {% assign companies = site.companies | where:'soc_codes', page.soc.code %}
  {% if companies.size != null }
    <h2>Companies</h2>
    <ul>
    {% for company in companies %}
      <li>
        <a href="{{ company.url }}">{{ company.name }}</a>: {{ company.description }}
      </li>
    {% endfor %}
  {% endif %}

  {% include disqus.html %}
</article>
