---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="attributes">
    <ul>
      <li>{{ page.probability.oxford | times: 100 }}% chance of automation<sup><a target="_blank" href="http://www.oxfordmartin.ox.ac.uk/downloads/academic/The_Future_of_Employment.pdf">?</a></sup></li>
      <li>{{ page.employment.us | times:100 | money_without_currency | remove: '.00' }} jobs in the US</li>
      <li>{% if page.wage.annual.us %}{{ page.wage.annual.us | money }} annual salary average{% endif %}</li>
      <li>{% if page.wage.hourly.us %}{{ page.wage.hourly.us | money }} hourly wage average{% endif %}</li>
      <li>What they do: {{ page.soc.definition }}</li>
    </ul>
  </div>

  <div class="entry">
    {{ content }}
  </div>

  {% include disqus.html %}
</article>
