---
layout: base
---

{% include header.html type="source" %}

<div class="container">

  <article role="main" class="source">

    <div class="media">
      <div class="media-left">
        <img class="media-object" style="width: 64px" src="//logo.clearbit.com/{{ page.link | remove:'http://' | remove:'https://' | remove:'www.' | split:'/' | first }}?size=64">
      </div>
      <div class="media-body">
        {{ page.description }} <a href="{{ page.link }}">Read more...</a><br/>
        <span class="text-muted">Saved from {{ page.link | remove:'http://' | remove:'https://' | remove:'www.' | split:'/' | first }} on {{ page.date | date: "%b %d, %Y" }}</span>
      </div>
    </div>

    {{ content }}

    <h3>My notes</h3>
    {% assign notes = site.notes | where:'link', page.link %}
    {% if notes.size == 0 %}
      <p>I haven't taken any notes on this source yet. Feel free to post your thoughts in the comments.</p>
    {% endif %}
    {% for note in notes %}
      <blockquote>
        <p>{{ note.quote }}</p>
        {% if note.comment %}
          <small>{{ note.comment }}</small>
        {% endif %}
      </blockquote>
    {% endfor %}

  </article>

  {% if page.social-share %}
    {% include social-share.html %}
  {% endif %}

  <div class="disqus-comments">
    {% include disqus.html %}
  </div>

</div>
