---
layout: base
regenerate: true
---

{% include header.html type="topic" %}
{% assign first_tag = page.tags | first %}
{% assign related_posts = site.posts | where:'tags', first_tag %}
{% assign forecasts = site.notes | where:'categories', 'forecast' | sort: 'date' | reverse %}
{% assign related_forecasts = forecasts | where:'tags', first_tag %}
{% assign trends = site.notes | where:'categories', 'trends' | sort: 'date' | reverse %}
{% assign related_trends = trends | where:'tags', first_tag %}
{% assign statistics = site.notes | where:'categories', 'statistics' | sort: 'date' | reverse %}
{% assign related_statistics = statistics | where:'tags', first_tag %}
{% assign entities = site.entities | where:'categories', 'companies' %}
{% assign related_companies = entities | where:'tags', first_tag %}
<div class="container">

  <article role="main" class="topic">

    {{ content }}

    {% if related_posts.size > 0 %}
      <h3>Posts</h3>
      {% for post in related_posts %}
        <a href="{{ post.url | prepend: site.baseurl }}">
          <h3>{{ post.title }}</h3>
        </a>
      {% endfor %}
    {% endif %}

    {% if related_trends.size > 0 %}
      <h3>Trends</h3>
      {% for trend in related_trends %}
        <blockquote>
          <p>{{ trend.quote }}</p>
          {% if trend.comment %}
            <small>{{ trend.comment }}</small>
          {% endif %}
          <small>
            {% assign source = site.sources | where:'link', trend.link %}
            <a href="{{ source[0].url }}">{{ source[0].title }}</a>
          </small>
        </blockquote>
      {% endfor %}
    {% endif %}

    {% if related_forecasts.size > 0 %}
      <h3>Forecasts</h3>
      {% for forecast in related_forecasts %}
        <blockquote>
          <p>{{ forecast.quote }}</p>
          {% if forecast.comment %}
            <small>{{ forecast.comment }}</small>
          {% endif %}
          <small>
            {% assign source = site.sources | where:'link', forecast.link %}
            <a href="{{ source[0].url }}">{{ source[0].title }}</a>
          </small>
        </blockquote>
      {% endfor %}
    {% endif %}

    {% if related_statistics.size > 0 %}
      <h3>Statistics</h3>
      {% for statistic in related_statistics %}
        <blockquote>
          <p>{{ statistic.quote }}</p>
          {% if statistic.comment %}
            <small>{{ statistic.comment }}</small>
          {% endif %}
          <small>
            {% assign source = site.sources | where:'link', statistic.link %}
            <a href="{{ source[0].url }}">{{ source[0].title }}</a>
          </small>
        </blockquote>
      {% endfor %}
    {% endif %}

    {% if related_companies.size > 0 %}
      <h3>Companies</h3>
      {% for company in related_companies %}
      <div class="media">
        <div class="media-left">
          <img class="media-object" style="width: 64px" src="//logo.clearbit.com/{{ company.domain }}?size=64">
        </div>
        <div class="media-body">
          <h4 class="media-heading"><a target="_blank" href="http://{{ company.domain }}">{{ company.name }}</a></h4>
          {{ company.description }}
        </div>
      </div>
      {% endfor %}
    {% endif %}

    <!-- <h3>Related articles</h3>
     {% if sources.size == 0 %}
       <p>I haven't added any related articles yet. If you know some, please post them in the comments.</p>
     {% endif %}
     {% for source in sources %}
       <div class="media">
         <div class="media-left">
           <img class="media-object" style="width: 64px" src="//logo.clearbit.com/{{ source.link | remove:'http://' | remove:'https://' | remove:'www.' | split:'/' | first }}?size=64">
         </div>
         <div class="media-body">
           <h4 class="media-heading"><a href="{{ source.url }}">{{ source.title }}</a></h4>
           {{ source.description }}<br/>
           <span class="text-muted">Saved from {{ source.link | remove:'http://' | remove:'https://' | remove:'www.' | split:'/' | first }} on {{ source.date | date: "%b %d, %Y" }}</span>
         </div>
       </div>
     {% endfor %} -->

  </article>

  {% if page.social-share %}
    {% include social-share.html %}
  {% endif %}

  {% if page.comments %}
    <div class="disqus-comments">
      {% include disqus.html %}
    </div>
  {% endif %}

</div>
